body {
	
}





img {
	border-radius: 8px;

	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 480px;
	height: 40%;
}
#gif {
	width: 45px;
  	height: 45px;
	display: flex;
  	justify-content: center;
  	align-items: center;
}

#page {
  display: grid;
  width: 1280px;
  height: 99%;
  grid-template-areas: "head head"
                       "nav  main"
	  	       "nav  main"
	               "nav  main"
	               "nav  foot";
  grid-template-rows: 50px 1fr 30px;
  grid-template-columns: 150px 1fr;
}

#page > header {
  grid-area: head;
  background-color: #86E031;
}

#page > nav {
  grid-area: nav;
  background-color: #7DD12E;
}

#page > main {
  grid-area: main;
  background-color: #325413;
  background-image: url("/Poemas.com/img/fondo-a.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

#page > footer {
  grid-area: foot;
  background-color: #3A6115;
}
